<li>
    <p>
        <%= comment.content %>
        <br>
        <small style="color: gray;">
            <i class="far fa-id-badge"></i>
            <%= comment.user.name %>
        </small>
        <% if(locals.user && locals.user.id==comment.user.id){%>
            <small>
                <a href="/comments/destroy/<%=comment.id%>"> <i class="fas fa-trash-alt"></i></a>
            </small>
              <%}%>
    </p>    

</li>
    