<li>
    <p>
        <%= comment.content %>
        <br>
        <small style="color: gray;">
            <%= comment.user.name %>
        </small>
        <% if(locals.user && locals.user.id==comment.user.id){%>
            <small>
                <a href="/comments/destroy/<%=comment.id%>"> Delete</a>
            </small>
              <%}%>
    </p>    

</li>
    