<footer class="footer-display">
    <div>
        <p>
            <big>
            Creator:-  Rishab Kanwar
           </big>
        </p>
        <p style="color: white;">
            @All Rights are reserved
        </p>
    </div>
</footer>