<footer class="footer-display">
    <div>
        <p>
            <big>
                <span class="creator">
            Creator:-  Rishab Kanwar
        </span>
            <span class="form-placing" > Please give feedback --> </span>
            <span> <a target="_blank" class="form-link" href="https://docs.google.com/forms/d/e/1FAIpQLSe9iVqJ6ESx-Sx9-kk1gXStW67YajtCY_mKXvZm2i8P23ATWg/viewform?usp=sf_link">
                <i class="fas fa-file-upload"></i>
            </a> </span>
           </big>
        </p>
        <span class="all-rights">
            @All Rights are reserved
        </span>
    </div>
</footer>