<header class="header">
    <span class="heading-style"><i class="fas fa-users" style="color: white;"></i></i> Socio</span>

    <ul class="header-display">
        <% if (locals.user){ %>
           
            <li>
                <a href="/users/profile/<%= user.id%>">
                    <% if (user.avatar){%>
                        <img src="<%=user.avatar%>" class="photo-id" height="40" width="40" alt="">
                        <%=user.name.split(" ")[0];%>
                        <%}else{%>
                    <img height="40" width="40" class="photo-id" src="https://cdn3.iconfinder.com/data/icons/users-yellow/60/50_-Blank_Profile-_user_people_group_team-512.png" alt="">
                    <%=user.name.split(" ")[0]%>
                    <%}%>
                </a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% }else{ %>

            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>

            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>


        <% } %>
    </ul>

</header>