<li>
    <p>
        <big>
        <%= post.content %>
    </big>
        <br>
        <small>
            <%= post.user.name %>
        </small>
        <% if(locals.user && locals.user.id==post.user.id){%>
            <small>
                <a href="/posts/destroy/<%=post.id%>"> Delete</a>
            </small>
              <%}%>
    </p>
</li>

