
    <p>
        <big style="font-size: 35px;">
            <i
            style="color: #ffc401da; margin-right: 7px;" class="far fa-clone"></i><%= post.content %>
    </big>
        <br>
        <small style="color: gray;">
            <%= post.user.name %>
        </small>
        <% if(locals.user && locals.user.id==post.user.id){%>
            <small>
                <a href="/posts/destroy/<%=post.id%>"> Delete</a>
            </small>
              <%}%>
    </p>

