<link rel="stylesheet" href="/css/calculator.css">
        <table border="1">
            <tr>
                <td style="background-color: black; color: white;" colspan="4">
                    <i class="fas fa-calculator">&nbsp;</i>CALCULATOR
                </td>
            </tr>
          <tr>
              <td style="background-color: rgb(211, 198, 198);" id="display" colspan="4"></td>
              
          </tr>
          <tr>
            <td class="button" data-value="AC">AC </td>
            <td class="button" data-value="+/-">+/-</td>
            <td class="button" data-value="%"><i class="fas fa-backspace"></i></td>
            <th class="button" data-value="/">/</th>
        </tr>
        <tr>
            <td class="button" data-value="7">7</td>
            <td class="button" data-value="8"> 8</td>
            <td class="button" data-value="9"> 9</td>
            <th class="button" data-value="*"> *</th>
        </tr>
        <tr>
            <td class="button" data-value="4"> 4</td>
            <td class="button" data-value="5"> 5</td>
            <td class="button" data-value="6"> 6</td>
            <th class="button" data-value="-"> -</th>
        </tr>
        <tr>
            <td class="button" data-value="1"> 1</td>
            <td class="button" data-value="2"> 2</td>
            <td class="button" data-value="3"> 3</td>
            <th class="button" data-value="+"> +</th>
        </tr>
        <tr>
            <td colspan="2" class="button" data-value="0"> 0</td>
            <td class="button" data-value="."> .</td>
            <th class="button" data-value="="> =</th>

<script  src="/js/calculator.js"></script>