
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/pong.css">
   <canvas id="pong" width="600" height="400">
   </canvas>
   <a class="restart" href="/games/pong">
    <i class="fas fa-redo"></i>
</a>
   <script type="text/javascript" src="/js/pong.js"></script>
