
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/pong.css">
    <p class="high-score">
    <span> HEIGHEST SCORE <span style="font-weight: 800;"> <%=user.pong%>  </span> </span>
    </p>
   <canvas id="pong" width="600" height="400">
   </canvas>
   <p class="restart">
   <a  href="/games/pong">
    <i class="fas fa-redo"></i>
</a>
</p>
   <script type="text/javascript" src="/js/pong.js"></script>
