        <style>
            canvas{
                display: block;
                margin: 0 auto;
                position: relative;
                top: 20px;
            }
            .restart{
                color: black;
                font-size: 50px;
                position: relative;
                left: 49%;
                top: 50px;
                text-decoration: none;
            }
        </style>
    <canvas id="snake" width="608" height="608"></canvas>
    <a class="restart" href="/games/snakes">
        <i class="fas fa-redo"></i>
    </a>
    <script type="text/javascript" src="/js/snake.js"></script>