     <link rel="stylesheet" href="/css/snake.css">
        <p class="high-score">
    <span > HEIGHEST SCORE <span style="font-weight: 800;"> <%=user.snake%>  </span> </span>
</p>
    <canvas id="snake" width="608" height="608"></canvas>
    <a class="restart" href="/games/snakes">
        <i class="fas fa-redo"></i>
    </a>
    <script type="text/javascript" src="/js/snake.js"></script>