
<link rel="stylesheet" href="<%= assetPath('css/sign-in.css') %>">
<div class="sign-in-style">
<h1 style="text-shadow: 2.5px 2.5px orange; margin-left: 10px;" >Sign UP</h1>
    <form action="/users/create" method="POST">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" style=" border: 3px solid black; font-weight: 900" value="Sign Up">
    
    </form>


        <p>
            <a style="margin-left: 25px; border: 3px solid rgb(255, 57, 90);" href="/users/auth/google"><i class="fab fa-google"> Sign in  </i></a>
        </p>
   
</div>