
<link rel="stylesheet" href="<%= assetPath('css/sign-in.css') %>">
<div class="sign-in-style">
<h1 >Sign UP</h1>
    <form action="/users/create" method="POST">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" style="box-shadow: 3px 5px 3px 3px #ffc401da; border: 1px solid black; font-weight: 900" value="Sign Up">
    
    </form>

    <p>
        <span style="font-weight: 700; font-size: 25px; color: rgb(255, 57, 90); ">
            Sign up with
        </span>
        <a href="/users/auth/google"><i class="fab fa-google"></i></a>
    </p>
</div>