<link rel="stylesheet" href="<%= assetPath('css/sign-in.css') %>">
<div class="sign-in-style">
<h1 style="text-shadow: 2.5px 2.5px orange; margin-left: 10px;">Sign In</h1>
    <form action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="Email"  required>
        <input type="password" name="password" placeholder="Password"  required>
        <input style= "border: 3px solid black; font-weight: 900;" type="submit" value="Sign In">
        <br>
       <a style="background-color: whitesmoke; padding: 3px;" href="/forgot/get-email">Forgot password ?</a>   
    </form>

    <p>
        <a style="margin-left: 25px; border: 3px solid rgb(255, 57, 90);" href="/users/auth/google"><i class="fab fa-google"> Sign in  </i></a>
    </p>

</div>