<link rel="stylesheet" href="/css/sign-up.css">
<h1>Sign Up</h1>

<form action="/users/create-id" method="POST">

    <input type="text" required placeholder="Name" name="name">
    <input type="email" required placeholder="E-mail" name="email">
    <input type="password" required placeholder="password" name="password">
    <input type="password" required placeholder="confirm_password" name="confirm_password">

    <button type="submit"> Sign up </button>

</form>