<link rel="stylesheet" href="/css/sign-in.css">
<div class="sign-in-style">
<h1 >Sign In</h1>
    <form action="/users/create-session" method="POST">
        <input type="email" name="email" placeholder="Email"  required>
        <input type="password" name="password" placeholder="Password"  required>
        <input style="box-shadow: 3px 5px #ffc401da; border: 1px solid black; font-weight: 900;" type="submit" value="Sign In">
       <a href="/forgot/get-email">Forgot password ?</a>   
    </form>

    <p>
        <sppan>
            OR Conect With ->
        </span>
        <a href="/users/auth/google"><i class="fab fa-google"></i></a>
    </p>

</div>