<link rel="stylesheet" href="/css/sign-in.css">
<h1>Sign In</h1>

<form action="/users/create-session">
    <input type="email" required placeholder="E-mail" name="email">
    <input type="password" required placeholder="password" name="password">
    <button type="submit"> Sign in</button>

</form>