body{
    background-color: dimgray;
}
#pong{
    border: 2px solid #FFF;
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.restart{
text-align: center;
}
.restart a{
    color: black;
    text-decoration: none;
    color: white;
    font-size: 40px;
}
.high-score{
    text-align: center;
    color: #FFF;
    font-size: 40px;
}