
canvas{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 20px;
}
.restart{
    color: black;
    font-size: 50px;
    position: relative;
    left: 49%;
    top: 50px;
    text-decoration: none;
}
.high-score{
    text-align: center;
    font-size: 30px;
   }
