body{
    background-color: rgba($color: #ffc401da, $alpha: 0.1);
}
.all-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  


    .chat-button{ 
                    font-size: 20px;
                    text-decoration: none;
                    color: black;
                    .tooltiptext {
                    visibility: hidden;
                    width: 0px;
                    font-size: 0.1px;
                    background-color:lightgray;
                    color:black;
                    text-align: center;
                    border-radius: 6px;
                    padding: 6px 5px;
                
                    /* Position the tooltip */
                    
                    }
         }
      
.chat-button{

        &:hover{
            .tooltiptext {
            font-size: 13px;
            margin-left : 10px;
            visibility: visible;
            z-index: 1;
            font-weight: bold;
            width: 120px;
            }
        }
    
}


    .post-comments-list{
           position: relative;
           bottom: 20px;
    }

    #post-pic-choose{
        position: relative;
        left: 0px;
        margin-top: 15px;
        width: 260px;
        border-bottom: 2px solid black;
        padding-bottom: 3px;
    }
}

.friends{
    text-align: end;
    margin-left: 100px;
}

.form-of-post{
    margin-bottom: 120px;

   textarea{
    border: none;
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba($color: #ffc401da, $alpha: 0.02);
}
input{
    position: relative;
    left: -90px;
    box-shadow: 2px 4px 5px 5x #ffc401da;
    margin-bottom: 50px;
    
}
#post-button{
    height: 30px;
    width: 80px;
    position: relative;
    left: 20px;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
}


}

.posts{
    margin-bottom: 125px;
}

#feed-posts{

    position: relative;
    right: 4%;
    margin-top: 20px;
    width: 38.5%;
text-align: left;
align-items: center;
.post-box{
margin-top: 100px;

    .post-image{
        box-shadow: 4px 4px 7px 7px gray;
        margin-bottom: 3px;
    }
}
.form-of-post{
    margin-right: 300px;
    margin-left: 26%;
    margin-top: 15px;
    margin-bottom: 15px;
}
    span{
    margin-right: 10px;
    //font-size: 40px;
    //margin-left: 10px;
    margin-bottom: 5px;
    
    }
}
#user-friends{
    position: sticky;
    top: 7.6vh;
    width: 32%;
    height: 390px;
    overflow-y: auto;
    overflow-x: visible;
    text-align: left;

    #friend-container{
        overflow-y: auto;
        height: 300px;
    }
    .from-design
    {
       input{
           width: 150px;
       }
       button{
           width: 30px;
       }
       position: relative;
       left: 120px;
    }
    img{
        border-radius: 5px;
        position: relative;
        top: 3px;
    }
    h1{
        margin-left: 15%;

    }
    ul{
        list-style: none;
        margin-left: 7%;
        li{
            margin-bottom: 15px;
        }
    }
}
#posts-list-container{
    a{
        text-decoration: none;
        color: red;
        padding: 1.5px;
    }
    .toggle-like-button{
        position: relative;
        left: 220px;
         bottom: 43px;
         background-color: whitesmoke;
         border: 2px solid lightgray;
         margin-left: 5px;
         font-size: 20px;
         padding: 2.5px;
         color: blue;
         box-shadow: 3px 3px 3px 3px grey;
    }
    .delete-comment-button{
        box-shadow: 3px 3px 3px 3px grey;
        color: red;
        font-size: 15px;
        background-color: whitesmoke;
        border: 2px solid lightgray;
        padding: 2.5px;
    }
    .delete-post-button{
        color: red;
         background-color: whitesmoke;
         border: 2px solid lightgray;
         margin-left: 5px;
         font-size: 20px;
         padding: 2.5px;
         position: relative;
         left: 225px;
         top: -43px;
         box-shadow: 3px 3px 3px 3px grey;
    }
    input{
        border: none;
        border-bottom: 2px solid black;
        background-color: rgba($color: #ffc401da, $alpha: 0.02);
    }
    button{
        color: black;
        background-color: white;
        font-size: 25px;
         background-color: whitesmoke;
         border: 2px solid lightgray;
         box-shadow: 3px 3px 3px 3px grey;
        cursor: pointer;
    }
    ul{
        list-style: none;
    }
}

#features{
    position: sticky;
    top: 7.6vh;
    width: 24%;
    height: 720px;
    i{
        color: #ffc401da;
       // opacity: 0.5;
        margin-right: 5px;
    }
    ul{
        margin-left: 14%;
        list-style: none;
    }
    li{
        height: 30px;
        a{
            i{
                color: black;
                margin-right: 5px;
            }
          text-decoration: none;
          color: black;
          font-size: 25px;
        }
    }
}

.heading{
    font-size: 30px;
    display: block;
    margin-left: 20%;
    font-weight: 700;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #cac5c5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8a877ada;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #424240da;
  }


  #all-users{
    width: 30%;
    height: 420px;
    overflow: hidden;
    margin-top: -400px;
    position: fixed;
    top: 900px;
    overflow: hidden;

     
    #search-container{
        overflow-y: auto;
        height: 350px;
    }
    .from-design
    {
       input{
           width: 150px;
           position: relative;
           left: -50px;
           background-color: rgba($color: #ffc401da, $alpha: 0.03);
           border: none;
           border: 2px solid black;
           padding: 3px 0;
       }
       button{
           width: 30px;
           position: relative;
           left: -50px;
           box-shadow: 2px 2px 2px 2px lightgray;
       }
       position: relative;
       left: 120px;
    }
    img{
        border-radius: 5px;
        position: relative;
        top: 5px;
    }
    h1{
        margin-left: 15%;

    }
    ul{
        
        list-style: none;
        margin-left: 7%;
        a{
            font-size: 20px;
            text-decoration: none;
            color: black;
        }
    }
}


// these are for pop up box in the posts

            /* The Modal (background) */
            .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            margin-top: 6vh;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            }

            /* The Close Button */
            .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            }

            .close:hover,
            .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            }


            // https://ninjasfiles.s3.amazonaws.com/2f10a79a5778c68e2fe447bd23dfeb9b_raj_srivastava_image_15937790540596253723618165792576.jpg