body{
   .main-img{
       border-radius: 50%;
       width: 250;
       height: 250;
       box-shadow: 5px 2px 40px 5px #b6b2a5da;
       position: relative;
       left: 770px;
       margin-bottom: 30px;
       margin-top: 25px;
       }
       .form-diplay{
           display: flex;
           flex-wrap: wrap;
           width: 50%;
           position: relative;
           left: 25%; 

           input{
               width: 200px;
               height: 30px;
               margin-left: 15%;
               margin-right: 15%;
               margin-top: 10px;
               margin-bottom: 10px;
               position: relative;
               left: 200px;
               border: none;
               border-bottom: 2px solid black;
           }
       }
       .diplay-data{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        position: relative;
        left: 25%; 
         
       }
       .friend-button{
        text-align: center;
        position: relative;
        left: 42%;
        font-size: 30px;
        color: rgb(85, 85, 255);
        text-decoration: none;

        span{
            color: rgb(85, 85, 255);
            padding: 4px;
            border: 2px solid black;
            box-shadow: 4px 4px 4px 4px lightgray;
        }
       }
       .req-design{
           font-size: 30px;
           margin-left: 10px;

       }
       .req-display{
           margin-left: 50px;
           a{
            padding: 5px;
            text-decoration: none;
            color: black;
            font-size: 30px;
            margin-left: 10px;
         }
       }
}