<div>

    <h1>Hi <%= comment.user.name%>!</h1>
    <br>
    <br>
    <p><h1>Your comment <%= comment.content %>  just got pubished on socio.</h1></p>
    <br>
    <br>
    <p><h1>Thanks!</h1></p>
</div>