.all-container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.form-of-post {
  margin-bottom: 120px; }
  .form-of-post textarea {
    border: none;
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px; }
  .form-of-post input {
    position: relative;
    left: -50px;
    box-shadow: 2px 4px #ffc401da;
    margin-bottom: 50px; }

.posts {
  margin-bottom: 125px; }

#feed-posts {
  margin-top: 20px;
  width: 50%;
  text-align: center;
  align-items: center; }
  #feed-posts .form-of-post {
    margin-right: 400px;
    margin-left: 40%;
    margin-top: 15px;
    margin-bottom: 15px; }
  #feed-posts span {
    margin-right: 10px;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 5px; }
    #feed-posts span i {
      color: #ffc401da;
      margin-right: 7px; }

#user-friends {
  width: 25%;
  text-align: center; }
  #user-friends ul {
    list-style: none; }
    #user-friends ul a {
      text-decoration: none;
      color: black; }

#posts-list-container a {
  margin-left: 30px;
  text-decoration: none;
  color: red; }

#posts-list-container input {
  border: none;
  border-bottom: 2px solid black; }

#posts-list-container button {
  color: #ffc401da;
  border: none;
  background-color: white;
  font-size: 25px; }

#posts-list-container ul {
  list-style: none; }
