body {
  background-image: url(../images/background.jpg); }

.sign-in-style {
  width: 50%;
  display: flex;
  position: relative;
  left: 25%;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  color: white; }
  .sign-in-style h1 {
    font-size: 40px;
    display: block;
    text-align: center;
    width: 100%; }
  .sign-in-style form {
    width: 100%; }
  .sign-in-style input {
    display: block;
    margin-bottom: 10px;
    margin-left: 40%;
    height: 35px;
    border: none;
    border-bottom: 3px solid white;
    background-color: whitesmoke;
    border: 2px solid black; }
    .sign-in-style input button {
      border: 2px solid lightgray; }
  .sign-in-style p {
    padding-top: 25px;
    position: relative;
    left: 40%; }
    .sign-in-style p a {
      font-size: 30px;
      border-radius: 7px;
      color: red;
      background-color: whitesmoke;
      border: 2px solid lightgray;
      padding: 4px; }
