.sign-in-style {
  width: 50%;
  display: flex;
  position: relative;
  left: 25%;
  flex-wrap: wrap;
  border-left: 4px solid gainsboro;
  border-right: 4px solid gainsboro;
  text-align: center;
  align-items: center; }
  .sign-in-style h1 {
    font-size: 40px;
    display: block;
    text-align: center;
    width: 100%; }
  .sign-in-style form {
    width: 100%; }
  .sign-in-style input {
    display: block;
    margin-bottom: 10px;
    margin-left: 40%;
    height: 35px;
    border: none;
    border-bottom: 3px solid gainsboro;
    background-color: white; }
    .sign-in-style input button {
      box-shadow: 5px 10px #888888; }
