body {
  background-color: rgba(255, 196, 1, 0.1); }

.big-container {
  display: flex;
  flex-wrap: wrap; }

#profile-data .main-img {
  margin-left: 55%;
  border-radius: 50%;
  width: 250;
  height: 250;
  box-shadow: 5px 2px 40px 5px #b6b2a5da;
  margin-bottom: 30px;
  margin-top: 25px; }

#profile-data .form-diplay {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  left: 25%; }
  #profile-data .form-diplay input {
    width: 200px;
    height: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 200px;
    border: none;
    border-bottom: 2px solid black; }

#profile-data .diplay-data {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  left: 25%; }

#profile-data .friend-button {
  text-align: center;
  position: relative;
  left: 42%;
  font-size: 30px;
  color: #5555ff;
  text-decoration: none; }
  #profile-data .friend-button span {
    color: #5555ff;
    padding: 4px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px 4px lightgray; }

.req-display {
  margin-top: 14px;
  margin-left: 50px; }
  .req-display li {
    margin-bottom: 30px; }
  .req-display a {
    margin-left: 10px;
    color: black;
    font-size: 25px;
    text-decoration: none; }
  .req-display .req-design {
    font-size: 30px;
    margin-left: 10px;
    padding: 4px;
    background-color: #ece7e7;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px; }

#user-friends-profile {
  position: relative;
  left: 380px;
  top: 50px;
  font-size: 40px; }
  #user-friends-profile span {
    margin-top: 50px; }
  #user-friends-profile a {
    color: black;
    text-decoration: none; }
  #user-friends-profile table {
    margin-top: 50px; }
    #user-friends-profile table td {
      padding: 10px;
      font-size: 25px; }

#user-friends-profile-other {
  position: relative;
  top: 50px;
  right: 400px;
  font-size: 40px; }
  #user-friends-profile-other span {
    margin-top: 50px; }
  #user-friends-profile-other a {
    color: black;
    text-decoration: none; }
  #user-friends-profile-other table {
    margin-top: 50px; }
    #user-friends-profile-other table td {
      padding: 10px;
      font-size: 25px; }

#profile-data-other {
  position: relative;
  left: 35.7%; }
  #profile-data-other .main-img {
    margin-left: 25%;
    border-radius: 50%;
    width: 250;
    height: 250;
    box-shadow: 5px 2px 40px 5px #b6b2a5da;
    margin-bottom: 30px;
    margin-top: 25px; }
  #profile-data-other .form-diplay {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    left: 25%; }
    #profile-data-other .form-diplay input {
      width: 200px;
      height: 30px;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 10px;
      margin-bottom: 10px;
      position: relative;
      left: 200px;
      border: none;
      border-bottom: 2px solid black; }
  #profile-data-other .diplay-data {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    left: 25%; }
  #profile-data-other .friend-button {
    text-align: center;
    position: relative;
    left: 5%;
    font-size: 30px;
    color: #5555ff;
    text-decoration: none;
    width: 300px; }
    #profile-data-other .friend-button span {
      color: #5555ff;
      padding: 4px;
      border: 2px solid black;
      box-shadow: 4px 4px 4px 4px lightgray; }
