body {
  background-color: rgba(255, 196, 1, 0.1); }

.big-container {
  display: flex;
  justify-content: space-between; }

.image-profile-friend {
  border-radius: 50%;
  position: relative;
  top: 5px; }

#profile-data .main-img {
  margin-left: 15%;
  border: 3px solid black;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: 5px 2px 40px 5px #b6b2a5da;
  margin-bottom: 30px;
  margin-top: 25px; }

#profile-data .form-diplay {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 3%; }
  #profile-data .form-diplay input {
    background-color: rgba(255, 196, 1, 0.03);
    width: 200px;
    height: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid black; }

#profile-data .diplay-data {
  position: relative;
  left: 25%; }

#profile-data .friend-button {
  text-align: center;
  position: relative;
  left: 42%;
  font-size: 30px;
  color: white;
  text-decoration: none;
  box-shadow: 5px 5px 5px 5px gray; }
  #profile-data .friend-button span {
    color: white;
    padding: 4px;
    border: 2px solid black; }

.req-display {
  margin-top: 14px;
  margin-left: 50px;
  width: 585px; }
  .req-display .friend-req {
    font-size: 20px; }
  .req-display li {
    margin-left: -15px;
    margin-bottom: 30px;
    font-size: 20px; }
  .req-display a {
    margin-left: 7px;
    color: black;
    font-size: 23px;
    text-decoration: none; }
  .req-display .req-design {
    margin-left: 10px;
    padding: 4px;
    background-color: #ece7e7;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px; }

#user-friends-profile {
  position: relative;
  top: 40px;
  font-size: 40px; }
  #user-friends-profile .heading-friends {
    font-size: 25px;
    position: relative; }
  #user-friends-profile .image-profile-friend {
    border-radius: 50%;
    border: 1px solid black; }
  #user-friends-profile span {
    margin-top: 30px; }
  #user-friends-profile a {
    color: black;
    text-decoration: none; }
  #user-friends-profile table {
    width: 320px;
    margin-left: -10px;
    margin-right: 20px;
    position: relative;
    margin-top: 30px; }
    #user-friends-profile table td {
      padding: 10px;
      font-size: 23px; }

#user-friends-profile-other {
  position: relative;
  top: 50px;
  right: 20%;
  font-size: 40px; }
  #user-friends-profile-other span {
    margin-top: 20px; }
  #user-friends-profile-other a {
    color: black;
    text-decoration: none; }
  #user-friends-profile-other table {
    margin-top: 30px;
    margin-right: 0px; }
    #user-friends-profile-other table td {
      padding: 10px;
      font-size: 25px; }

#profile-data-other {
  position: relative;
  left: 20%;
  align-items: center; }
  #profile-data-other .main-img {
    border-radius: 50%;
    width: 250;
    height: 250;
    box-shadow: 5px 2px 40px 5px #b6b2a5da;
    margin-bottom: 30px;
    margin-top: 25px; }
  #profile-data-other .form-diplay {
    display: flex;
    flex-wrap: wrap;
    width: 50%; }
    #profile-data-other .form-diplay input {
      width: 200px;
      height: 30px;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 10px;
      margin-bottom: 10px;
      position: relative;
      left: 200px;
      border: none;
      border-bottom: 2px solid black;
      background-color: rgba(255, 196, 1, 0.03); }
  #profile-data-other .diplay-data {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 25%; }
  #profile-data-other .friend-button {
    text-align: center;
    position: relative;
    left: 5%;
    color: black;
    font-size: 30px;
    text-decoration: none;
    width: 300px;
    box-shadow: 5px 5px 7px 7px grey; }
    #profile-data-other .friend-button span {
      padding: 4px;
      border: 2px solid black; }
