<% if(profile_user){ %>

<h1> verification succesful </h1>
<h1>hiii   <%=profile_user.name%></h1>

<a style=" font-size: 20px;" href="#"> Send </a><span> verification mail to <%=profile_user.email%> </span>

<%} else{%>

<h1> INVALID EMAIL ID</h1>
<p>
    <a style=" font-size: 30px;" href="/forgot/get-email">  < BACK </a>
</p>


 <%}%>



