<h1> have you forget your password </h1>
<p>Reset your password</p>

<form action="/reset-password/:tokken" method="POST">

<input type="password" name="passwod" required placeholder="NEW PASSWORD">
<input type="password" name="confirmed-passwod" required placeholder="CONFIRM PASSWORD">
<button type="submit"> Change Password</button>

</form>